/*Header*/

.head-container{
	background: url(../Images/EClaires.jpg)o-repeat 50% 50%;
	background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-sizeL: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    display: block;
    height: auto;

}

body {
    font-size: 14px;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
    color: rgb(56, 37, 2);
    background-color: rgb(236, 206, 167);

}

	p{
		color: #000080;
		text-align: center;
		font-size: medium;
		font-weight: 200;
	
}
h1{
		color:#FFEFD5 ;
		text-align: center;
		background-color:#CD853F;
		font-family: Arial, Helvetica, sans-serif;
		font-size: large;
		font-weight: bold;
}

img { 
		width: 400;
		height: 200;
}
iframe{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100;
}

form{
		text-align: center;
}